<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <title>Slintta</title>
    <meta name="description" content="Slintta's home page">
    <meta name="author" content="Slintta & Asaka">
    <link rel="icon" type="image/png" href="/static/image/head.png">
    <link rel="apple-touch-icon" href="/static/image/head.png">
    <link rel="stylesheet" href="/static/typo.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>
  <body>
    <div id="main">
      <div id="upper">
        <div id="head">
          <img src="/static/image/head.png" />
        </div>
      </div>
      <div id="lower">
        <div id="navbar-wrapper">
          <div id="navbar">
            <h1>Slintta</h1>
            <hr />
            <h2>
              <a href="/posts">Product</a>
            <em>|</em>
              <a href="javascript:;">Bio</a>
            <em>|</em>
            <a href="javascript:;">Pic</a>
            <em>|</em>
            <a href="javascript:;">Fit</a>
            <em>|</em>
            <a href="javascript:;">Travel</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
