hr {
    border-bottom: 1px solid #cfcfcf;
}

#container {
    margin: 0 auto;
    width: 640px;
}

#header {
    background-color: #1abc9c;
    height: 155px;
    padding-top: 45px;
}

#header-action {
    float: right;
    padding-right: 10px;
    margin-top: -40px;
    color: white;
}

#header-action a {
    color: white;
}

.head-img {
    margin-top: 5px;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

#header-wrapper {
    height: 110px;
    width: 110px;
    margin: 0 auto;
    border-radius: 110px;
    background-color: white;
    text-align: center;
}

#footer {
    padding: 10px 0;
    color: #666666;
}

#footer hr {
    border-bottom: 2px dotted #cfcfcf;
}

.post {
    padding: 50px 0;
}

.post .title {
    text-align: center;
    padding: 10px 0;
}

.post .date {
    text-align: center;
    padding: 10px 0;
    color: #aaaaaa;
}

.content img {
    width: 100%;
}

#edit-form textarea {
    width: 100%;
    height: 480px;
}

#ds-thread #ds-reset .ds-current {
    color: #1abc9c !important;
}

#ds-thread #ds-reset .ds-highlight {
    color: #1abc9c !important;
}

#ds-thread #ds-reset .ds-comment-context {
    color: #1abc9c !important;
}

#ds-thread #ds-reset .ds-sort a.ds-current,#ds-thread #ds-reset .ds-sort a:active {
    color: #1abc9c !important;
}

#ds-thread #ds-reset .ds-ctx-open {
    color: #1abc9c !important;
}

#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a {
    color: #1abc9c !important;
}

#ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a:hover{
    color: #1abcde !important;
}

#ds-reset a {
    color: #1abc9c !important;
}

#ds-reset a:hover{
    color: #1abcde !important;
}

#post-nav {
    position: fixed;
    top: 250px;
    left: 60px;
}

.post-nav-line {
    height: 136px;
    border-right: #1abc9c solid 1px;
    width: 16px;
}

.post-nav-item-wrapper {
}

.post-nav-item {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: #1abc9c solid 1px;
    margin-bottom: 25px;
    background-color: white;
    z-index: 99999;
    transition-duration: 0.2s;
}

.post-nav-slide {
    float: left;
    background-color: #1abc9c !important;
    z-index: 9999999 !important;
}

.post-nav-item:hover, .post-nav-item-current {
    background-color: #1abc9c;
    transition-duration: 0.3s;
    cursor: pointer;
}

.post-nav-item-inner {
    width: 20px;
    height: 20px;
    border: #1abc9c solid 1px;
    background-color: #1abc9c;
    border-radius: 30px;
    padding: 0;
    margin-top: 3.5px;
    margin-left: 3.5px;
}
